<header class="inner">
          <a id="forkme_banner" href="https://github.com/tjchaplin/aspectLogger">View on GitHub</a>

          <h1 id="project_title">Aspectlogger</h1>
          <h2 id="project_tagline">Aspect style logger that takes a cross cutting approach to logging in Javascript</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/tjchaplin/aspectLogger/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/tjchaplin/aspectLogger/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>